// app global css in Stylus form
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100;200;300;400;500;600;700;800;900&display=swap');

body
  background linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab)
  background-size 400% 400%
  animation gradient 30s ease infinite

@keyframes gradient
  0%
    background-position 0 50%
  50%
    background-position 100% 50%
  100%
    background-position 0 50%

.bg-trans-1
  background rgba(0, 0, 0, .1)

.text-trans-2
  color rgba(255, 255, 255, .5)
